<input type="radio" name="active" id="active" value="false" checked>
<label for="active">False</label>

<input type="radio" name="active" id="active" value="true">
<label for="active">True</label>
      