<% @students.each do |student| %>
  <div><%= link_to student.to_s, student_path(student) %>  </div>
<% end %>  

<!-- <% @students.each do |student| %>
    <div><a href='<%= "/students/#{student.id}" %>'><%= student.to_s %></a></div>
  <% end %> -->