<h1><%= @student.to_s %></h1>

<% if @student.active == false%>
<p> This student is currently inactive. </p>
  <%= link_to @student.to_s, href: activate_student_path(@student)%>
  <% else %>
  <p> This student is currently active. </p>
<% end %>

